/* Global */

.atuiKernel_ToolsCarousel
{
     background-image: url(illustrations/wallpaper.jpg)
}

.atuiKernel_SectionText p
{
     overflow: overlay; /* ATUI */
}

.atuiKernel_SectionText img
{
     margin : 10px 5px; /* ATUI ou pas (pas pratique pour des emojis par ex) */
}

