.atuiKernel_ToolsCarousel {
    background-image: url(illustrations/wallpaper.jpg);
}

/* Bug when there is no navbar */

#atuiKernel_FooterInfo {
    margin-bottom: 0;
}

/* Margin inconsistencies on bottom bar of header */

#atuiKernel_Header > aside > nav {
    min-height: auto;
    padding: 10px 0;
}
