/* Global */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
     font-family: "Montserrat", Arial;
     background-color : white;
}

:root
{
     --defaultColorLight : #ffb3b3;
     --defaultColorMedium : #ff5050;
	--defaultColorDark : #cc0066;
     font-size : 16px;
}

/* Header */

header
{
     background-image : url(medias/background.jpg);
     background-size : cover;
     background-position: center;
     background-attachment: fixed;
     margin : -8px -8px 10px -8px;
     height : 350px;
     display : flex;
     justify-content: center;
     align-items: center;
}

header div
{
     display: flex;
     align-items: center;
     flex-direction: column;
}

header div img
{
     width : 150px;
     border-radius : 100%;
     border : 3px white solid;
}

header div h1
{
     color : var(--defaultColorDark);
     font-family: "Red Hat Display";
     font-size : 2.5rem;
     font-weight : bold;
     margin : 20px;
}

/* Nav */

nav
{
     margin : 15px 10%;
     display : flex;
     justify-content: space-around;
     flex-wrap : wrap;
}

nav div
{
     margin : 10px;
     padding : 10px 20px;
     background-color: var(--defaultColorLight);
     border-radius : 10px;
     color : var(--defaultColorDark);
}

nav div a
{
     text-decoration: none;
     font-size: 1.3rem;
     margin : 0;
     color : inherit;
}

nav div:hover
{
     background-color: var(--defaultColorDark);
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     color : var(--defaultColorLight);
     font-weight: bold;
}

/* Section */

section
{
     margin : 0 10%;
}

section h2
{
     font-weight : bold;
     text-decoration: underline;
     margin : 10px 0;
     font-size : 2rem;
     font-family: "Red Hat Display";
}

section p
{
     font-size : 1rem;
     line-height: 1.4;
}

section a
{
     color : var(--defaultColorMedium);
     text-decoration: none;
}

section a:hover
{
     color : var(--defaultColorDark);
     text-decoration: underline;
     font-weight: bold;
}

     /* Informations */

/*section[id=infos] div article
{
     margin : 15px;
     padding : 15px;
     border-radius : 20px;
     height : 150px;
}

section[id=infos] div article *
{
     margin : 0px;
     color : white;
}

section[id=infos] div article h3
{
     font-size : 20px;
     font-weight : bold;
}

section[id=infos] div article p
{
     margin : 10px;
     font-size : 16px;
}

section[id=infos] div article em
{
     width : 100%;
     text-align : right;
     color : #cccccc;
} */

     /* Contacts */

article[id=contacts] div
{
     display : flex;
     justify-content: space-around;
     flex-wrap : wrap;
}

article[id=contacts] div a
{
     margin : 5px;
     padding : 0;
     width : 120px;
     height : 120px;
     color : var(--defaultColorDark);
     font-size : 1rem;
}

article[id=contacts] div a div
{
     margin : 0;
     padding : 0;
     background-color: var(--defaultColorLight);
     border-radius : 10px;
     width : 120px;
     height : 120px;
     display: grid;
     align-items: center;
     justify-items: center;
     color : var(--defaultColorDark);
}

article[id=contacts] div a div:hover
{
     background-color: var(--defaultColorDark);
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     color : var(--defaultColorLight);
     font-weight: bold;
}

article[id=contacts] div a div img
{
     border-radius : 10px;
     width : 60px;
     height : 60px;
}

article[id=contacts] div a div p
{
     margin : 10px;
     margin-top : -10px;
     font-size : 1rem;
}

     /* Projets */

article[id=projets] div
{
     display : flex;
     justify-content: center;
     flex-direction: column;
     flex-wrap : wrap;
}

article[id=projets] > div > div
{
     border-radius : 10px;
     background-color: var(--defaultColorLight);
     margin : 10px;
     padding : 10px;
     display : flex;
     flex-direction: row;
     align-items: center;
}

article[id=projets] div div img
{
     width : 40%;
     border-radius: 10px;
     height: min-content;
     margin : 10px;
}

article[id=projets] div div div h3
{
     color : var(--defaultColorDark);
     font-family: "Red Hat Display";
     margin : 10px;
     font-size : 1.5rem;
     text-align : center;
}

article[id=projets] div div div p
{
     color : var(--defaultColorDark);
     margin : 10px 25px;
     font-size : 1.1rem;
}

.projets_liens
{
     color : var(--defaultColorDark);
     font-size : 1.3rem;
     font-family: "Red Hat Display";
     display: flex;
     justify-content: flex-start !important;
     flex-direction: row !important;
     margin : 0 30px;
}

.projets_liens a
{
     margin : 10px;
     padding : 10px 20px;
     border-radius: 10px;
     color : var(--defaultColorLight);
     background-color: var(--defaultColorDark);
}

.projets_liens a:hover
{
     background-color: var(--defaultColorMedium);
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     color : var(--defaultColorLight);
     font-weight: bold;
}

.projets_meta
{
     display: flex;
     flex-direction: row !important;
     align-content: space-between;
}

/* Footer */

footer
{
     margin-top : 20px;
     padding : 10px 0px;
     position : absolute;
     left : 0px;
     right : 0px;
     background-color: #ffb3b3;
     text-align: center;
}

footer div
{
     display : flex;
     justify-content: center;
}

footer div *
{
     margin : 10px 20px;
     text-decoration: none;
     color : var(--defaultColorDark);
}

footer > p
{
     font-size : 1rem;
     color : var(--defaultColorDark);
     margin : 10px;
}
