/* Global */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
     font-family: "Montserrat", Arial;
     background-color : white;
}


/* Header */

header
{
     background-image : url(medias/background.jpg);
     background-size : cover;
     background-position: bottom;
     background-attachment: fixed;
     margin : -8px -8px 10px -8px;
     height : 60vh;
}

header img
{
     width : 30%;
     border-radius : 100%;
     border : 3px white solid;
     margin-left : 50%;
     margin-top : 50px;
     transform : translateX(-50%);
     max-width : 200px;
}

header h1
{
     font-size : 36px;
     font-weight : bold;
     text-align: center;
     margin : 10px;
     color : white;
     font-family: "Red Hat Display";
}


/* Nav */

nav
{
     margin-bottom: 20px;
     display : flex;
     justify-content: center;
     flex-wrap : wrap;
}

nav p
{
     margin : 5px;
     padding : 7px;
     background-color: #ffe6e6;
     border-radius : 6px;
     display : inline-block;
}

nav a
{
     color : #4d0000;
     text-decoration: none;
}

/* Section */

section
{
     margin : -8px;
     padding : 10px;
}

section h2
{
     font-weight : bold;
     text-decoration: underline;
     margin : 10px;
     font-size : 26px;
     text-align : left;
     font-family: "Red Hat Display";
}

section > p
{
     padding : 0px 15px;
     font-size : 18px;
}

section[id=infos] div article
{
     margin : 15px;
     padding : 15px;
     border-radius : 20px;
     height : 150px;
}

section[id=infos] div article *
{
     margin : 0px;
     color : white;
}

section[id=infos] div article h3
{
     font-size : 20px;
     font-weight : bold;
}

section[id=infos] div article p
{
     margin : 10px;
     font-size : 16px;
}

section[id=infos] div article em
{
     width : 100%;
     text-align : right;
     color : #cccccc;
}

section[id=contacts] > p
{
     font-size : 16px;
     color : #993333;
     margin : 10px;
}

section[id=contacts] div
{
     display : flex;
     justify-content: center;
     flex-wrap : wrap;
}

section[id=contacts] div a
{
     text-decoration: none;
}

section[id=contacts] article
{
     margin : 5px;
     background-color: #ffe6e6;
     border-radius : 10px;
     padding : 5px;
     width : 120px;
     height : 120px;
}

section[id=contacts] article img
{
     border-radius : 10px;
     height : 60px;
     margin-left : 50%;
     transform : translate(-50%, 20px);
     z-index : 1;
}

section[id=contacts] article p
{
     margin : 5px;
     color : #4d0000;
     z-index : 0;
     transform : translateY(25px);
     font-size : 16px;
     text-decoration: none;
}

section[id=contacts] article p span
{
     font-size : 12px;
     color : #993333;
     position : absolute;
     transform: translateY(-37px);
}

section[id=projets] div
{
     display : flex;
     justify-content: center;
     flex-wrap : wrap;
}

section[id=projets] article
{
     border-radius : 10px;
     margin : 5px;
     background-color: #ffe6e6;
     max-width : 800px;
     padding : 5px;
}

section[id=projets] article img
{
     max-width : 200px;
     margin : 10px;
     margin-left : 50%;
     margin-bottom : 5px;
     transform: translateX(-50%);
     border-radius : 10px;
}

section[id=projets] article h3
{
     color : #990000;
     font-family: "Red Hat Display";
     margin : 5px 15px;
     font-size : 22px;
}

section[id=projets] article p
{
     color : #b31919;
     margin : 10px 25px;
     font-size : 16px;
}

section[id=projets] article p a
{
     color : #cc0000;
     margin-right : 20px;
     font-family: "Red Hat Display";
}

section[id=projets] article p a:after
{
     content : " >";
}

section[id=projets] article div p
{
     font-size : 14px;
     color : #993333;
     margin : 5px;
}

section[id=projets] p
{
     font-size : 14px;
     color : #993333;
     margin : 15px;
}


/* Footer */

footer
{
     padding : 10px 0px;
     position : absolute;
     left : 0px;
     right : 0px;
     background-color: #ffb3b3;
     text-align: center;
     margin-top : 20px;
}

footer div *
{
     margin : 5px 10px;
     color : #4d0000;
     display : inline-block;
     text-decoration: none;
}

footer > p
{
     font-size : 14px;
     color : #993333;
     margin : 5px;
}
