@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body
{
     font-family: "Red Hat Display", Arial;
}

header
{
     background : linear-gradient(to left top, cyan 15%, orange 85%);
     margin : -8px -8px 0px -8px;
}

header img
{
     width : 30%;
     border-radius : 100%;
     border : 3px white solid;
     margin : 20px 50%;
     margin-right : 0px;
     transform : translateX(-50%);
}

header h1
{
     font-size : 35px;
     font-weight : bold;
     text-align: center;
     margin : 0px;
     padding-bottom : 20px;
}

section h2
{
     font-weight : bold;
     text-decoration: underline;
     margin : 10px;
     font-size : 25px;
}

section
{
     margin : -8px;
     padding : 10px;
}

section > p
{
     padding : 0px 15px;
}

section article
{
     margin : 10px;
     background-color: silver;
     border-radius : 20px;
     padding : 5px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     max-width : 500px;
     display : inline-grid;
}

section article img
{
     float : left;
     padding : 5px;
     border-radius : 15px;
     height : 96px;
     position : absolute;
}

section article p
{
     display : block;
     font-weight : bold;
     font-size : 20px;
     margin : 4px;
     margin-left : 115px;
}

section article em
{
     display : block;
     margin : 10px 5px;
     vertical-align: bottom;
     font-weight : normal;
     font-size : 20px;
     margin-left : 115px;
     padding-right : 10px;
     overflow-wrap : anywhere;
}

section article a
{
     display : block;
     text-align: center;
     border-radius : 10px;
     color : blue;
     border : 2px blue solid;
     padding : 5px;
     margin : 5px;
     margin-top : 45px;
}

@media (prefers-color-scheme : dark)
{
     section
     {
          background-color: gray;
     }
}