@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Red+Hat+Display:wght@700&display=swap");

:root {
    --atuiKernel_FontsTitle: "Red Hat Display", auto;
    --atuiKernel_FontsText: "Montserrat", auto;
    --atuiKernel_FontsSpecial: "Pacifico", auto;
}

.atuiKernel_ToolsCarousel {
    background-image: url("illustrations/wallpaper.jpg");
}

.documents {
    margin: 10px;
    overflow-x: auto;
}
